.texto {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:33% ;
    color: #4b8f29;
    }
    
    
    .img {
        margin-left:33%;
        border-style:double ;   
        border-color: #4b8f29;
    }
    .ingresar{
        
    }